/* container */
$widthContainer: 1440px;
$paddingContainer: 20px;

/* base typography */
$baseFont: 'Manrope', sans-serif;;
$baseWeight: 300;

/* colors */
$linkColor: #000; 
$colorBlack: #23262F;
$colorSilver: #777E90;
$colorRed: #D11A2A;