/* base */
@import "./base/vars.scss";
@import "./base/typography.scss";
@import "./base/grid.scss";
@import "./base/mixin.scss";

/* layout */
@import "./layout/inc-header.scss";
@import "./layout/inc-footer.scss";
@import "./components/registration.scss";

/* pages */
@import "index";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $baseFont;
  font-weight: 400;
  font-size: rem(16px);
  line-height: 1.42;
  color: #000;
  background-color: #FCFCFD;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

#middle {
  flex: 1 0 auto;
  -webkit-box-flex: 1;
}

#footer {
  flex: 0 0 auto;
  -webkit-box-flex: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $widthContainer;
  // padding-left: $paddingContainer;
  // padding-right: $paddingContainer;
  @media(max-width:450px) {
      padding-right: 16px;
      padding-left: 16px;
  }
}


.login {
  position: relative;
  background: #F4F5F6;
  height: 100%;
  @media(max-width:1024px) {
      display: none;
  }
  &-img {
    background-image: url(../images/bg/bg-login.svg);
    height: 100%;
    background-position: center -122px;
    background-repeat: no-repeat;
  }
}

.ui-field {
  margin-bottom: 25px;
  // &:last-child {
  //   margin-bottom: 15px;
  // }
  label {
    display: block;
    font-size: rem(13px);
    font-weight: 500;
    color: $colorSilver;
    margin-bottom: 13px;
  }
  span.error {
    display: block;
    margin-top: 10px;
    font-size: rem(12px);
    color: $colorRed;
    line-height: 23px;
  }
  &-input {
    width: 100%;
    background: #F4F5F6;
    border: none;
    border-radius: 8px;
    padding: 0px 20px ;
    font-family: $baseFont;
    font-weight: 500;
    height: 56px;
    color: $colorBlack;
    border: 1px solid transparent;
    &:focus {
      outline: none;
      border: 1px solid #adb2c0;
    }
    &.error {
      border: 1px solid $colorRed;
    }

  }
  &-password {
    position: relative;
    &-eye {
      position: absolute;
      width: 24px;
      height: 24px;
      right: 17px;
      top:17px;
      background-image: url(../images/icon/eye-password.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }
  &-inn {
    margin-bottom: 15px;
  }
}
// Класс для смены иконки "глазик" в поле - пароль
.password-eye-see {
  background-image: url(../images/icon/eye-password-see.svg);
}
// Кастомный стиль для ошибки ИНН 
.inn-occupied {
  font-weight: 500;
  font-size: 13px;
  color: #000;
  a {
    color: $colorRed;
  }
}
.required-field {
  color: $colorRed;
  font-weight: 600;
}
// custom checkbox style
.registration-footer-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.registration-footer-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  @media(max-width:450px) {
      align-items: flex-start;
  }
}
.registration-footer-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 4px;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
}
.registration-footer-checkbox:checked+label::before {
  border-color: #06B966;
  background-color: #06B966;
  background-image: url(../images/icon/Vector.svg);
}

.registration-footer-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
